<?xml version="1.0" encoding="UTF-8" ?>
    <widget xmlns   = "http://www.w3.org/ns/widgets"
        xmlns:gap   = "http://phonegap.com/ns/1.0"
        id          = "com.bhorapps.bor01"
        versionCode = "10" 
        version     = "1.0.0" >
        
    <name>Bor01</name>

    <description>
        Bor01 bot control
    </description>

</widget>